<div class= "chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">
      <!-- Messages-->
      <app-chat-message
        text='# Comparación entre una Desktop PC y una Laptop

        ### Desktop PC

        ### Pros:
        - **Potencia**: Generalmente, ofrecen mejor rendimiento debido a componentes más potentes y eficientes.
        - **Actualización**: Es más fácil y económico actualizar componentes como RAM, GPU y almacenamiento.
        - **Ergonomía**: Permiten una configuración más ergonómica con monitores grandes y teclados cómodos.
        - **Costo**: Suelen ser más baratos en términos de rendimiento por dólar comparado con laptops.

        #### Contras:
        - **Portabilidad**: No son fáciles de transportar, lo que limita su uso a un solo lugar.
        - **Espacio**: Ocupan más espacio físico en comparación con una laptop.
        - **Consumo de Energía**: Pueden consumir más energía en comparación con las laptops.

        ---

        ###Laptop

        ####Pros:
        - **Portabilidad**: Son ligeras y fáciles de transportar, ideales para trabajar en diferentes lugares.
        - **Todo en uno**: Integran pantalla, teclado y batería, lo que las hace convenientes para el uso móvil.
        - **Ahorro de espacio**: Ocupan menos espacio, lo que es ideal para entornos pequeños.
        - **Conectividad**: Suelen tener opciones de conectividad inalámbrica, facilitando el acceso a internet sin cables.

        ####Contras:
        - **Rendimiento**: Pueden tener un rendimiento inferior en comparación con una desktop del mismo precio.
        - **Dificultad de actualización**: Es más complicado y costoso actualizar componentes internos.
        - **Ergonomía**: Puede ser incómoda para usar durante períodos prolongados debido a su diseño compacto.
        - **Costo**: En general, ofrecen menos potencia por el mismo precio que una desktop.'
      />

      @for (message of messages(); track $index) {
        @if ( message.isGpt ) {
          <app-gpt-message-orthography
            [text]="message.text"
            [errors]="message.info!.errors"
            [userScore]="message.info!.userScore"
          />
        } @else {
          <app-my-message
            [text]="message.text"
          />
        }

      }

      @if (isLoading()) {
        <app-typing-loader />
      }

    </div>

  </div>

  <!-- Messasage Box-->
  <!-- cuando se emita el onMessage voy a llamr un metodo llamado handleMessage -->
  <app-text-message-box
    placeholder="Escribe aqui lo que deseas"
    (onMessage)="handleMessage($event)"
    [disableCorrection]="true"
  />


</div>
